[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "pymemuc"
version = "v0.0.0"
description = "A Memuc.exe wrapper for Python"
readme = "README.md"
authors = ["Martin Miglio <code@martinmiglio.dev>"]
license = "MIT"
classifiers = [
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Topic :: Software Development :: Libraries :: Python Modules"
]
keywords = ["memu", "memuc", "wrapper", "api"]
repository = "https://github.com/marmig0404/pymemuc"
documentation = "https://pymemuc.readthedocs.io/"


[tool.poetry.dependencies]
python = "^3.8"
poetry = "^1.2.2"
poetry-dotenv-plugin = "^0.1"

[tool.poetry.group.dev]
optional = true

[tool.poetry.group.dev.dependencies]
pre-commit = "^2.20"
black = "^22.0"
prospector = "^1.7"
ipykernel = "^6.17"


[tool.black]
line-length = 88
target-version = ['py310']
include = '\.pyi?$'
exclude = '''

(
  /(
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
  )/
)
'''

[tool.isort]
profile = "black"

[tool.pylint.main]
ignore = ["docs/source"]
py-version = "3.10"
suggestion-mode = true
disable = [
    "C0301", # line-too-long
    "W0622", # redefined-builtin
    "R0903", # too-few-public-methods
    ]
