[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "pymemuc"
version = "v0.0.3"
description = "A Memuc.exe wrapper for Python"
readme = "README.md"
authors = ["Martin Miglio <code@martinmiglio.dev>"]
license = "MIT"
classifiers = [
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Topic :: Software Development :: Libraries :: Python Modules"
]
keywords = ["memu", "memuc", "wrapper", "api"]
repository = "https://github.com/marmig0404/pymemuc"
documentation = "https://github.com/marmig0404/pymemuc/blob/master/docs/pymemuc.md"

